1/lab1.pdf
1/main
1/main.exe
1/build
1/CMakeFiles
1/1
1/cmake-build-lab1
1/html
1/latex
1/Doxyfile
1/tests.txt
1/Catch2
1/tests.cpp
2/lab2.pdf
2/cmake-build-debug
.idea
cmake-build-debug